<% honeypot_field_name = Rails.application.config.honeypot_field_name %>

<form class="form-inline" id="new_user" data-formfor-user="user" data-event-submit="create">

  <div class="col-xs-12">
    <p id="pay-off" class="horizontal-center" data-bind="'content.payoff' | t"></p>
  </div>

  <div class="col-xs-12 cinput">
    <input type="text" class="form-control " data-bind="user.name" data-bind-placeholder="'user.form.placeholders.name' | t" name="name"/>
  </div>

  <div class="col-xs-12 cinput">
    <input type="email" class="form-control" data-bind="user.email" data-bind-placeholder="'user.form.placeholders.email' | t" name="mail"/>
  </div>

  <input type="text" data-bind="user.<%= honeypot_field_name %>" placeholder="<%= honeypot_field_name %>" name="<%= honeypot_field_name %>"/>

  <div class="col-xs-12 cinput2">
    <input class="btn form-control submit" type="submit" data-event-click="create" data-bind-value="'user.form.submit' | t" />
  </div>

  <div class="row">
    <span class="error" data-foreach-error="user.errors">
      <div class="error col-xs-12">
        <span data-bind="error.attribute | prepend 'user.' | translate"></span>
        <span data-bind="error.message"></span>
      </div>
    </span>
  </div>

  <div id="feedback" class="form-group" data-hideif="user.isNew">
    <span class="horizontal-center" data-bind="'content.feedback' | t"></span>
  </div>

</form>