<div class="container-fluid">
  <div class="jumbotron">
    <div id="logo">
      <img class="img-responsive horizontal-center" src="<%= asset_path("logo.png") %>">
    </div>

    <div id="pay-off">
      <p class="horizontal-center" data-bind="'content.payoff' | t"></p>
    </div>

    <div id="bg-container">
      <div id="phones">
        <img class="img-responsive horizontal-center" src="<%= asset_path("ensemble.png") %>">
      </div>
    </div>
  </div>
</div>

<div id="content" class="container">
  <div class="row">
    <div class="col-sm-5 col-sm-offset-1 col-xs-12">
      <p data-bind="'content.description' | t"></p>
      <ul>
        <li data-bind="'content.advantage.one'   | t"></li>
        <li data-bind="'content.advantage.two'   | t"></li>
        <li data-bind="'content.advantage.three' | t"></li>
      </ul>
    </div>

    <div class="col-sm-5 col-xs-12">
      <div id="registration-form" role="form" data-view="UsersFormView"></div>
      <div id="feedback" class="form-group col-xs-12" data-hideif="user.isNew">
        <span class="horizontal-center" data-bind="'content.feedback' | t"></span>
      </div>
    </div>
  </div>
              .
  <div class="row">
    <div class="col-sm-5 col-xs-12">
      <div id="registration-form" role="form" data-view="InvitationFormView"></div>
      <div id="feedbackInvitation" class="form-group col-xs-12" data-hideif="user.doe">
        <span class="horizontal-center" data-bind="'content.invite.feedback' | t"></span>
      </div>
    </div>
  </div>

</div>