body {
  font-family: 'Cabin', sans-serif;
}

.jumbotron {
  background-image:url("/images/tile.png");
}

ul {
  list-style-image:url('/images/bullet.png');
  padding-left: 17px;
}

li {
  font-family: 'Cabin', bold;
  font-weight: bold;
}

#logo {
  padding:30px;

}

#pay-off h4 {
  color:#09404c;
  font-family: 'Cabin', bold;
  text-align: center;
  padding:30px;
}

/* Small Devices*/
@media (max-width: 480px) {

  #phones img {
    display: none;
  }

  #phones {
    background:url(/images/small_phones_bg.png) no-repeat;
    min-height: 400px;
    background-size: cover;
    background-position: center bottom;
  }

  #pay-off, #logo {
    margin-left: 30px;
    margin-right: 30px;
  }
}

.horizontal-center {
  margin: 0 auto;
}

#registration-form input[type="submit"] {

}

