defaults: &DEFAULTS
  adapter: mysql2
  username: cocodev
  password: coconut
  host: localhost

development:
  <<: *DEFAULTS
  database: coconut_app_user_registration_development

test:
  <<: *DEFAULTS
  database: coconut_app_user_registration_test

staging:
  <<: *DEFAULTS
  database: coconut_app_user_registration_staging

production:
  <<: *DEFAULTS
  database: coconut_app_user_registration_production

