<!DOCTYPE html>
<html>
  <head>
    <title>User Registration - Coconut</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
    <%= stylesheet_link_tag    "style", :media => "all" %>
    <link href='http://fonts.googleapis.com/css?family=Cabin:400,700' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <div data-yield="main"></div>

    <script type="text/javascript">
      UserRegistration.run();
    </script>
  </body>
</html>
