<!DOCTYPE html>
<html>
<head>
  <title>User Registration</title>
  <%= stylesheet_link_tag    "style", :media => "all" %>
  <%= javascript_include_tag "user_registration" %>
</head>
<body>

<div data-yield="main"></div>

<script type="text/javascript">
  UserRegistration.run();
</script>

</body>
</html>
